# get these info with e.g.: `udevadm info -a /dev/ttyACM0`

SUBSYSTEM=="tty", ATTRS{manufacturer}=="STMicroelectronics", ATTRS{serial}=="066EFF3732584B3043195530" SYMLINK+="robot_io", GROUP="dialout" 
SUBSYSTEM=="tty", KERNEL=="ttyAMA1", SYMLINK:="robot_base"
SUBSYSTEM=="tty", KERNEL=="ttyAMA2", SYMLINK:="robot_lcd"
SUBSYSTEM=="tty", KERNEL=="ttyAMA3", SYMLINK:="robot_lidar"

