[Unit]
Description= start all systems for the robot
After=network.target network-online.target
Wants=robot_bridge.service
Wants=robot_lcd.service
Wants=robot_lidar_driver.service
Wants=robot_lidar_clients.service
Wants=robot_vl53.service
Wants=robot_IO.service
Wants=robot_aruco.service
Wants=robot_strat.service

[Service]
Type=simple
 
User=pi
Group=pi

SupplementaryGroups=adm dialout cdrom sudo audio video plugdev games users input netdev gpio i2c spi
 
ExecStart=/home/pi/rpi2024/services/heartbeat.py
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target


