[Unit]
Description= Joystick
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure

WorkingDirectory=/home/robot/rpi2024/drivers/Joysticks
ExecStart=python3 /home/robot/rpi2024/drivers/Joysticks/joysticks.py
#RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


