[Unit]
Description=eCal IO Bridge
After=network.target network-online.target

[Service]
Type=simple
 

WorkingDirectory=/home/robot/rpi/drivers
ExecStart=python3 /home/robot/rpi/drivers/bridge_IO.py
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


