[Unit]
Description= robot_match_decision_making
After=network.target network-online.target robot_bridge.service

[Service]
Type=simple
RemainAfterExit=no
Restart=no
 
WorkingDirectory=/home/robot/rpi/sw
ExecStart=/home/robot/rpi/robEnv/bin/python3 /home/robot/rpi/sw/strat/stratBT.py
 
[Install]
# WantedBy=multi-user.target
