[Unit]
Description= start all systems for the robot
After=network.target network-online.target
Wants=robot_bridge.service
#Wants=robot_lcd.service
Wants=robot_lidar_driver.service
Wants=robot_lidar_clients.service
Wants=robot_vl53.service
Wants=robot_IO.service
#Wants=robot_aruco.service
#Wants=robot_strat.service
Wants=robot_joystick.service

[Service]
Type=simple
 
ExecStart=/home/robot/rpi/services/heartbeat.py
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=default.target


