[Unit]
Description=eCal Aruco comm
After=network.target network-online.target

[Service]
Type=simple
 
WorkingDirectory=/home/robot/rpi/sw/camera/ArucoFinderCpp/build
ExecStart=/home/robot/rpi/sw/camera/ArucoFinderCpp/build/arucoFinderCpp mabel -c /dev/cam_mabel -d -W 640 -H 480 --fourcc YUYV -f 15


 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


