[Unit]
Description=eCal comm Bridge
After=network.target network-online.target

[Service]
Type=simple

WorkingDirectory=/home/pi/robot_rpi_2024/drivers/optitrack
ExecStart=python3 /home/pi/robot_rpi_2024/drivers/optitrack/ecal_optitrack.py
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


