[Unit]
Description=VL53L5CX driver
After=network.target network-online.target
Wants=pigpiod.service

[Service]
Type=simple
 
WorkingDirectory=/home/pi/rpi2024/drivers/vl53/reader/
ExecStart=python3 /home/pi/rpi2024/drivers/vl53/reader/vl53_ecal.py
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


