[Unit]
Description= lidar driver 
After=network.target network-online.target

[Service]
Type=simple

ExecStart=/home/robot/rpi/drivers/lidar/ld06_cpp/build/ld06_driver /dev/robot_lidar

Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


