[Unit]
Description= lidar driver 
After=network.target network-online.target

[Service]
Type=simple
 
ExecStart=python3 /home/pi/rpi2024/drivers/lidar/ecal_ld06_driver.py

Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


