[Unit]
Description=robot_UI
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/robot/rpi/tools/lidar
ExecStart=/home/robot/rpi/robEnv/bin/python3  /home/robot/rpi/tools/lidar/radarqt.py -p
Restart=on-failure
RestartSec=10 

[Install]
