[Unit]
Description=robot_UI
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/robot/rpi/sw/walUIgi/
ExecStart=/home/robot/rpi/robEnv/bin/python3  /home/robot/rpi/sw/walUIgi/walUIgi.py -p
StandardInput=null
StandardOutput=null
StandardError=null
Restart=on-failure
RestartSec=10 

[Install]
