[Unit]
Description=VL53L5CX driver
After=network.target network-online.target

[Service]
Type=simple
 
WorkingDirectory=/home/robot/rpi/drivers/vl53cpp/
ExecStart=python3 /home/robot/rpi/drivers/vl53cpp/build/vl53_driver
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


