[Unit]
Description=eCal Aruco comm
After=network.target network-online.target

[Service]
Type=simple
 
WorkingDirectory=/home/robot/rpi/sw/aruco
ExecStart=/home/robot/rpi/robEnv/bin/python3 /home/robot/rpi/sw/aruco/getAruco.py
 
Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


