[Unit]
Description= All lidar services (in file lidar_clients.sh)
After=network.target network-online.target
Requires=robot_lidar_driver.service

[Service]
Type=simple

ExecStart=/home/robot/rpi/robEnv/bin/python3 /home/robot/rpi/services/lidar_clients.py

Restart=on-failure
RestartSec=2 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]


